.blog-section {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background: #f3f3f3;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/scott-webb-ffWnaif_9T0-unsplash.jpg");
  background-size: cover;
}

.title-box-text {
  padding: 1rem;
  margin: 0 0.5rem;
}

.title-box-text .sub-heading {
  color: #fff;
}

.link-banner {
  text-decoration: none;
  color: #fff;
}

.blog-main {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

@media (max-width: 575.9px) {
  .blog-main {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0.5rem;
  }

  .blog-content {
    padding: 0;
  }
}

@media (min-width: 576px) {
  .blog-main {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .blog-main {
    padding: 1rem;
    gap: 1rem;
  }

  .blog-main {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .blog-main {
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr 15rem;
  }
}

@media (min-width: 1200px) {
}
