.project-section {
}

.project-collection {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

@media (max-width: 599px) {
  .project-collection {
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 8px;
  }
}

@media (min-width: 600px) {
  .project-collection {
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 8px;
  }
}

@media (min-width: 800px) {
  .project-collection {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 16px;
  }
}

@media (min-width: 1020px) {
  .project-collection {
    gap: 32px;
    margin: 32px;
  }
}

@media (min-width: 1400px) {
}
