/* skills */

.skills-section {
  max-width: 1400px;
  position: relative;
  top: -8rem;
  margin: 0 auto;
  margin-bottom: -4rem;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  background: #fff;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
}

.front-end-skills,
.back-end-skills {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2rem;
}

.skills-heading {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}

.skills-sub-heading {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
  color: #16a085;
}

.skills-paragraph {
  min-height: 10rem;
  padding: 1rem 0;
  line-height: 2;
  color: #333;
  text-align: center;
}

.skills-list {
  text-align: center;
  line-height: 2;
  padding: 0.5rem;
}

.skills-list-item {
  font-size: 1rem;
  color: #333;
}

.icon-collection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  height: 2.5rem;
  width: auto;
  padding: 1rem;
  color: #16a085;
}

@media (max-width: 599px) {
  .skills-section {
    width: calc(100% - 2rem);
  }

  .skills-container {
    flex-direction: column;
  }

  .icon-collection {
    justify-content: center;
  }

  .icon {
    height: 2rem;
  }
}

@media (min-width: 600px) {
  .skills-section {
    width: calc(100% - 2rem);
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .back-end-skills {
    border-top: 0.1rem solid #eee;
  }

  .icon-collection {
    justify-content: center;
  }
}

@media (min-width: 720px) {
  .skills-section {
    width: calc(100% - 4rem);
  }
}

@media (min-width: 900px) {
  .skills-container {
    flex-direction: row;
  }

  .back-end-skills {
    border-left: 0.1rem solid #eee;
  }

  .icon-collection {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
