.blog-post-container {
  display: grid;
  grid-template-columns: 1fr;
}

.blog-post {
  background-color: #fff;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.blog-post-header {
  margin-bottom: 1rem;
}

.blog-post-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

.blog-post-details-box {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #eee;
}

.blog-post-author {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
}

.blog-post-date {
  padding: 0.5rem 0;
  color: #222;
  font-style: italic;
}

.blog-post-content p {
  line-height: 2;
}

.blog-post-content img,
.blog-post-content svg {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1rem 0;
}

.comment-section {
  border-radius: 0.5rem;
  background-color: #fff;
}

@media (max-width: 575.9px) {
  .blog-post-container {
    gap: 1rem;
    padding: 0;
  }

  .blog-post {
    padding: 0.5rem;
  }

  .blog-post-details-box {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 576px) {
  .blog-post-container {
    gap: 1rem;
    padding: 0;
  }
  .blog-post {
    padding: 0.5rem;
  }

  .blog-post-details-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .blog-post-container {
    gap: 2rem;
    padding: 0;
  }

  .blog-post {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .blog-post-container {
    gap: 2rem;
    padding: 0;
  }

  .blog-post {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
}
