.blog-post-container {
  display: grid;
  grid-template-columns: 1fr;
}

.blog-post {
  padding: 2rem;
  background-color: #fff;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.blog-post-header {
  margin-bottom: 1rem;
}

.blog-post-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
}

.blog-post-details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid #eee;
}

.blog-post-author {
  font-size: 1rem;
  color: #222;
}

.blog-post-date {
  color: #222;
}

.blog-post-content p {
  line-height: 2;
}

.blog-post-content img,
.blog-post-content svg {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1rem 0;
}

.comment-section {
  border-radius: 0.5rem;
  background-color: #fff;
}

@media (max-width: 599px) {
  .blog-post-container {
    padding: 0.5rem 0;
    gap: 1rem;
  }
}

@media (min-width: 600px) {
  .blog-post-container {
    gap: 1rem;
  }
}

@media (min-width: 1000px) {
  .blog-post-container {
    gap: 2rem;
    padding: 0;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
