.main {
  margin: 0 auto;
}

.main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.sub-heading {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #333;
}
