.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  padding: 1rem;
  color: #fff;
  overflow: auto;
  position: relative;
}

.title-box:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/sai-kiran-anagani-5Ntkpxqt54Y-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.title-box .main-heading {
  font-size: 2rem;
  color: #fff;
}

.title-box .sub-heading {
  color: #fff;
  font-size: 1.2rem;
}

.blog-main {
  display: grid;
  grid-template-columns: 1fr 15rem;
  gap: 2rem;
  padding: 2rem 5rem;
}

.blog-content {
  grid-column: 1/2;
  background: #fff;
}

.blog-side-section {
  grid-column: 2/3;
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 10rem 10rem;
}

.side-bio-section {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

.side-bio-heading {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  border-bottom: 0.1rem solid #ccc;
}

.side-bio-image {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.side-bio-content {
  font-size: 0.9rem;
}

.side-links-section {
  grid-row: 2/3;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

.side-categories-section {
  grid-row: 3/4;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}
