.blog-card {
  display: flex;
  height: 10rem;
  background-color: #fff;
  border: 0.1rem solid #eee;
  border-radius: 0.2rem;
  box-shadow: 0 8px 6px -6px #aaa;
}

.blog-card-image-box {
  width: 25%;
  height: auto;
  background-image: url("../images/code-on-laptop.jpg");
  background-size: cover;
  background-position: center;
}

.blog-card-main {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.blog-card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.blog-card-details-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #666;
  font-size: 0.8rem;
  border-bottom: 0.1rem solid #eee;
}

.blog-detail-date {
  margin-right: 1rem;
}

.blog-detail-comment-count {
  margin-right: 1rem;
}

.link {
  color: #16a085;
  font-weight: 600;
}
