.blog-post-container {
}

.blog-post {
  padding: 2rem;
  background-color: #fff;
  border: 0.1rem solid #eee;
  border-radius: 0.2rem;
  box-shadow: 0 8px 6px -6px #aaa;
}

.blog-post-header {
}

.blog-post-title {
  font-size: 2rem;
  font-weight: bold;
}

.blog-post-author {
  font-size: 1.2rem;
}

.blog-post-details-box {
  display: flex;
  padding-bottom: 1rem;
  font-style: italic;
  color: #666;
}

.blog-detail-date {
  padding-right: 1rem;
}

.blog-detail-comment-count {
  padding-right: 1rem;
}

.blog-detail-catagory {
  padding-right: 1rem;
}

.comments-section {
  /* padding: 2rem; */
}
