.main-footer {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1976d2;
}
.footer-sub-heading {
  color: #fff;
  font-size: 1.2rem;
}

.social-icon {
  height: 2rem;
  width: auto;
  padding: 0.2rem;
  margin: 1rem;
  color: #fff;
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

.social-icon:hover {
  color: #1976d2;
  background-color: #fff;
  cursor: pointer;
}
