.main-nav {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  margin: 0 auto;
}

.nav-icon {
  padding: 0.2rem;
  font-weight: bold;
  color: #1976d2;
  border: 0.2rem solid #1976d2;
  font-size: 1.5rem;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.nav-icon:hover {
  background: #1976d2;
  color: #fff;
}

.nav-right-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
  padding-left: 2rem;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #1976d2;
}

.expanded-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid #eee;
}

.expand-menu-button {
  padding: 0.3rem 0.8rem;
  font-weight: bold;
  font-size: 1.5rem;
  background: transparent;
  border: #1976d2 solid 0.2rem;
  border-radius: 50%;
}
