.project-section {
}

.project-collection {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-radius: 0.5rem;
}

.project-container {
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #141c3a;
}

figure {
  display: block;
  position: relative;
}

figure:hover > .project-thumb {
  opacity: 0;
}

figure:hover > .project-overlay {
  opacity: 1;
}

figure:hover > figcaption {
  opacity: 1;
}

.project-thumb {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141c3a;
  border-radius: 0.5rem;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.project-link {
  width: 66%;
  padding: 0.75rem 2rem;
  margin: 1rem;
  border: #1976d2 solid 0.15rem;
  border-radius: 2rem;
  background: transparent;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.project-link:hover {
  background: #1976d2;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 599px) {
  .project-collection {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

@media (min-width: 600px) {
  .project-collection {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

@media (min-width: 720px) {
  .project-collection {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (min-width: 1020px) {
  .project-collection {
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 2rem;
  }
}

@media (min-width: 1800px) {
}
