/* skills */

.skills-section {
  width: 90%;
  max-width: 1400px;
  position: relative;
  top: -8rem;
  margin: 0 auto;
  margin-bottom: -4rem;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  background: #fff;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
}

.front-end-skills,
.back-end-skills {
  width: 50%;
  padding: 2rem;
}

.back-end-skills {
  border-left: 0.1rem solid #eee;
}

.skills-heading {
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 0.5rem;
  text-align: center;
}

.skills-sub-heading {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  color: #1976d2;
}

.skills-paragraph {
  height: 6rem;
  padding: 0.5rem;
  line-height: 2;
  color: #333;
  text-align: center;
}

.skills-list {
  text-align: center;
  line-height: 2;
  padding: 0.5rem;
}

.skills-list-item {
  font-size: 1rem;
  color: #333;
}
