/* skills */

.skills-section {
  position: relative;
  top: -8rem;
  margin: 0 8rem;
  margin-bottom: -4rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.front-end-skills,
.back-end-skills {
  width: 50%;
  padding: 1rem;
}

.skills-heading {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 0.1rem solid #1976d2;
}

.skills-sub-heading {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 0.1rem solid #1976d2;
}

.skills-paragraph {
  padding: 0.5rem;
}

.skills-list {
  text-align: center;
  line-height: 2;
  padding: 0.5rem;
}

.skills-list-item {
  font-size: 1rem;
}
