.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.label {
  padding-bottom: 0.5rem;
  color: #666;
  font-size: 1rem;
}

.text-input {
  padding: 0.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #666;
}

.textarea {
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  color: #666;
  resize: vertical;
}

.textarea:focus,
.text-input:focus,
.form-button:focus {
  box-shadow: 0 0 3pt 2pt #16a085;
  outline: 0;
}

.form-button {
  padding: 0.5rem 4rem;
  border: #16a085 solid 0.15rem;
  border-radius: 2rem;
  background: none;
  font-size: 1rem;
  color: #16a085;
  transition: all 0.2s, color 0.2s;
}

.form-button:hover {
  background: #16a085;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 599px) {
  .form {
    width: 90%;
  }

  .text-inputs {
    width: 100%;
    flex-direction: column;
  }

  .form-section {
    width: 100%;
    padding: 0.5rem 0;
  }

  .textarea {
    height: 10rem;
  }
}

@media (min-width: 600px) {
  .form {
    width: 90%;
  }

  .text-inputs {
    width: 100%;
    flex-direction: column;
  }

  .form-section {
    width: 100%;
    padding: 1rem 0;
  }

  .textarea {
    height: 10rem;
  }
}

@media (min-width: 768px) {
  .form {
    width: 35rem;
  }

  .text-inputs {
    flex-direction: row;
    justify-content: space-between;
    width: 35rem;
  }

  .form-section {
    padding: 1rem 0;
  }

  .text-input {
    width: 16rem;
  }

  .contact-spacer {
    width: 3rem;
  }

  .textarea {
    width: 34rem;
  }

  .form-button {
    align-self: center;
    width: 40%;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
