.main-nav {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-icon {
  padding: 0.2rem;
  font-weight: 700;
  color: var(--theme-color);
  border: 0.2rem solid var(--theme-color);
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover {
  background: var(--theme-color);
  color: #fff;
}

.nav-right-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  text-decoration: none;
  padding: 0.5rem 0;
  padding-left: 2rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--theme-color);
}

.expanded-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #eee;
  animation: expand ease-in-out 2s;
}

.open-nav {
  animation: expand linear 0.4s;
}

.spinulator {
  animation: spin ease 0.4s;
}

@keyframes spin {
  from {
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    max-height: 1px;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.menu-hamburger {
  width: 2rem;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.menu-hamburger:hover {
  color: var(--theme-color);
  cursor: pointer;
}

@media (max-width: 599px) {
  .main-nav {
    padding: 1rem;
  }
}

@media (min-width: 600px) {
  .main-nav {
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  .main-nav {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
