.main-nav {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-icon {
  padding: 0.2rem;
  font-weight: bold;
  color: #16a085;
  border: 0.2rem solid #16a085;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover {
  background: #16a085;
  color: #fff;
}

.nav-right-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
  padding-left: 2rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #138d75;
}

.expanded-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #eee;
}

.menu-hamburger {
  width: 2rem;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.menu-hamburger:hover {
  color: #16a085;
  cursor: pointer;
}

@media (max-width: 599px) {
  .main-nav {
    padding: 1rem;
  }
}

@media (min-width: 600px) {
  .main-nav {
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  .main-nav {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
