.blog-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.blog-card-image-box {
  display: flex;
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog-card-image {
  align-self: flex-start;
  display: flex;
}

.blog-card-main {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
  gap: 0.5rem;
}

a {
  text-decoration: none;
}

.blog-card-header {
  padding: 0 1rem;
}

.blog-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
}

.blog-detail-date {
  font-size: 0.8rem;
  color: #666;
}

.blog-card-content {
  padding: 0 1rem;
  color: #444;
  font-size: 1rem;
}

.blog-card-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.25rem;
  padding: 1rem;
  color: #666;
  font-size: 0.8rem;
}

@media (max-width: 599px) {
  .blog-card {
    flex-direction: column;
  }

  .blog-card-image-box {
    height: 20rem;
    width: 100%;
  }

  .blog-card-image {
    align-self: flex-start;
    display: flex;
  }

  .blog-card-main {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .blog-card {
    flex-direction: row;
  }

  .blog-card-image-box {
    height: 100%;
    max-height: 12rem;
    width: 30%;
  }

  .blog-card-image {
    align-self: flex-start;
    display: flex;
  }

  .blog-card-main {
    width: 70%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
