.blog-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.blog-card {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.blog-card-image-box {
  width: 100%;

  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog-card-image {
  align-self: flex-start;
  display: flex;
  height: auto;
  width: 100%;
}

.blog-card-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
  gap: 0.5rem;
}

a {
  text-decoration: none;
}

.blog-card-header {
}

.blog-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
}

.blog-detail-date {
  font-size: 0.8rem;
  color: #666;
}

.blog-card-content {
  color: #444;
  font-size: 1rem;
}

.blog-card-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.25rem;
  padding: 1rem;
  color: #666;
  font-size: 0.8rem;
}

@media (max-width: 575.9px) {
  .blog-card {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .blog-card {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .blog-card {
    flex-direction: row;
  }

  .blog-card-image-box {
    margin-right: 1rem;
    width: 40%;
  }

  .blog-card-main {
    width: 60%;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
