.blog-side-section {
  display: flex;
  flex-direction: column;
}

.side-bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.side-blog-image-container {
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 100%;
  overflow: hidden;
}

.side-bio-image {
  position: relative;
  top: 16px;
  width: 100%;
  height: auto;
}

.side-bio-content {
  line-height: 1.75;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 575.9px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
