.blog-side-section {
  display: flex;
  flex-direction: column;
}

.side-bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.side-bio-image {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.side-bio-content {
  line-height: 2;
  text-align: center;
}

@media (max-width: 575.9px) {
  .side-bio-section {
    padding: 0.5rem;
  }

  .side-bio-content {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .side-bio-section {
    padding: 0.5rem;
  }

  .side-bio-content {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .side-bio-section {
    padding: 1rem;
  }

  .side-bio-content {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
